task1-20250222T090101Z-001.zip
task1/id_list.pdf
task2-20250222T090102Z-001.zip
ilovepdf_split-range/*.pdf
img/
task1/*.ply
task1/*.txt
task1/*.png
ilovepdf_split-range.zip

task2/catkin_ws/*
!task2/catkin_ws/install_isolated/share/

task2/*.png
task2/result/
task2/test/
task2/result_record.txt
